<div class="<%= fieldType %> input-wrapper wrapper-for-<%=fieldId%>">
  <label for="<%= fieldId %>"><%== label %></label>
  <div class="field-wrapper"><%== input %></div>
  <span class="hint"><%== hint %></span>
  <span class="errors"></span>
</div>